{% load static %}
{% block title %}


{% endblock %}


{%  block content %}

<!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="{% static "css/material-kit.css" %}" rel="stylesheet" />

    <!-- <link href="{% static "demo/demo.css" %}" rel="stylesheet" /> -->
    
{{ form.non_field_errors}}
<form method="post" class="form-group">{% csrf_token %}
  <div class="page-header header-filter" style="background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-login">
            <form class="form" method="" action="">
              <div class="card-header  text-center">
                <h4 class="card-title">Inicio de sesión</h4>
                <img class="profile-img" src="http://cal.cdegaulle.cl/static/img/escudo_lycee2.png" alt=""  width="250" height="201">
                
              </div>
              <div class="card-body">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons ">account_circle</i>
                    </span>
                  </div>
                  {{form.username}}
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  {{form.password}}
                </div>
              </div>
              <div class="footer text-center">
                <button type="submit" class="btn btn-danger  ">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
      </div>
  <!--   Core JS Files   -->
  <script src="{% static "js/core/jquery.min.js" %}" type="text/javascript"></script>
  <script src="{% static "js/core/popper.min.js" %}" type="text/javascript"></script>
  <script src="{% static "js/core/bootstrap-material-design.min.js" %}" type="text/javascript"></script>
  <script src="{% static "js/plugins/moment.min.js" %}"></script>
  <!--  Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="{% static "js/plugins/bootstrap-datetimepicker.js" %}" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static "js/plugins/nouislider.min.js" %}" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="{% static "js/material-kit.js" %}" type="text/javascript"></script>

</form>  
{% endblock %}