{% extends "porteria/base.html"%}
{%block navbar%}

{%endblock%}


{%block content%}
<div class="card card-nav-tabs">
  <div class="card-header card-header-info">
  <h2 class="card-title">Control de Ingreso a instalaciones</h2>
  <p class="card-category">{{hoy}}</p>
  </div>  

  <div class="card-body">
    <form method="post">{% csrf_token %}

	<div class="form-row">
      <div class="form-group col-md-4" >   
        <label class="bmd-label-floating">Rut (Ingresar sin Puntos con Guión)</label>
 
            {{form.non_field_errors}}
            {{form.rut}}

      </div>

      <div class="form-group col-md-4" >   
        <label class="bmd-label-floating"></label>
        <p class="text-danger" id="msgerror"></p>
      </div>
 	 </div>

      <div class="form-row">
      	<div class="form-group col-md-4" >   
        <label class="bmd-label-floating">Nombre</label>

            {{form.non_field_errors}}
            {{form.nombre}}

      </div>

      <div class="form-group col-md-4" >   
        <label class="bmd-label-floating">Apellido Paterno</label>

            {{form.non_field_errors}}
            {{form.apellido1}}

        </div>

		<div class="form-group col-md-4" >   
        <label class="bmd-label-floating">Apellido Materno</label>

            {{form.non_field_errors}}
            {{form.apellido2}}

      </div>
    </div>

    <div class="form-row">
    	<div class="form-group col-md-4" >   
        <label class="bmd-label-floating">temperatura</label>

            {{form.non_field_errors}}
            {{form.temperatura}}
 
      </div>

      <div class="form-group col-md-4" >   
        <label class="bmd-label-floating">Procedencia</label>
        <div class="dropdown bootstrap-select  dropup">
            {{form.non_field_errors}}
            {{form.procedencia}}
        </div>
      </div>
    </div>

      <button type="submit" class="btn btn-danger" id="registrar">Registrar Ingreso</button>
    </form>
  </div>
</div>


<a href="/logout">Cerrar sesión</a>

{% endblock %}