.d_margin{
	margin-left: 20px !important;
}

.card .card-header-rose .card-icon,
.card .card-header-rose:not(.card-header-icon):not(.card-header-text),
.card .card-header-rose .card-text {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

.card .card-header-azure .card-icon,
.card .card-header-azure:not(.card-header-icon):not(.card-header-text),
.card .card-header-azure .card-text {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

.selectmulti {
	height:100px !important;
}

.title {
	
  font-family: "Roboto", "Times New Roman", serif !important;
}

.error{
	fontWeight: bolder;
	font-color: red;
}