{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>Control Acceso a instalaciones</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <link href="{% static "css/material-kit.css" %}" rel="stylesheet" />
  <link href="{% static "css/material-dashboard.css" %}" rel="stylesheet" />
  <link href="{% static "css/style.css" %}" rel="stylesheet" />
    
</head>

<body>
  <div class="wrapper ">
    <div class="sidebar" data-color="azure" data-background-color="white">
      <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
      <div class="logo">
        <a href="#" class="simple-text logo-mini">
          <img class="profile-img" src="http://cal.cdegaulle.cl/static/img/escudo_lycee2.png" alt=""  width="250" height="201">
        </a>
        <a href="http://127.0.0.1:8000" class="simple-text logo-normal">
          Control de acceso
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="/">
              <i class="material-icons">person_add</i>
              <p>Control</p>
            </a>
          </li>
          <li class="nav-item active  ">
            <a class="nav-link" href="/salida">
              <i class="material-icons">person_remove</i>
              <p>Salida</p>
            </a>
          </li>

          <li class="nav-item active  ">
            <a class="nav-link" href="/busqueda">
              <i class="material-icons">search</i>
              <p>Busqueda</p>
            </a>
          </li>
          <!-- your sidebar here -->
          

          <li class="nav-item active  ">
            <a class="nav-link" href="/logout">
              <i class="material-icons">sensor_door</i>
              <p>Cerrar Sesión</p>
            </a>
          </li>
        
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;">--</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:;">
                  <i class="material-icons">notifications</i> Notifications
                </a>
              </li>
              <!-- your navbar here -->
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <!-- your content here -->
           {% block content %} 
      

           {% endblock %}

        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="http://127.0.0.1:8000">
                  Inicio
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </footer>
    </div>
  </div>




{% block javascripts %}
<!--   Core JS Files   -->
<script src="{% static "js/core/jquery.min.js"%}" type="text/javascript" ></script>
<script src="{% static "js/core/popper.min.js"%}" type="text/javascript"></script>
<script src="{% static "js/core/bootstrap-material-design.min.js"%}" type="text/javascript"></script>
<script src="{% static "js/plugins/moment.js"%}"></script>
<script src="{% static "js/plugins/locale/es.js"%}"></script>
<!--  Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="{% static "js/plugins/bootstrap-datetimepicker.js"%}" type="text/javascript"></script>

<script src="{% static "js/validaRUT.js"%}"></script>

<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static "js/plugins/nouislider.min.js"%}" type="text/javascript"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

{% endblock %}
</body>

</html>