{% extends "porteria/base.html"%}
{% load static %}

{%block content%}
<script src="{% static "js/core/jquery.min.js"%}" type="text/javascript" ></script>
<script src="{% static "js/plugins/moment.min.js"%}"></script>
<!--  Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="{% static "js/plugins/bootstrap-datetimepicker.js"%}" type="text/javascript"></script>
<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-info">
                  <h2 class="card-title ">Lista de ingresos</h2>
                  <p class="card-category">{{hoy}}</p>
                </div>    

<form method="get" class="d_margin">
 
 <div class="card-body">

	<div class="form-row">
		<div class="form-group col-md-4" >   
			<label class="bmd-label-floating">Rut (Ingresar sin Puntos con Guión)</label>	 
			{{form.non_field_errors}}
			{{filter.form.persona__rut}}
		</div>
		<div class="form-group col-md-4" >   
			<label class="bmd-label-floating"></label>
			<p class="text-danger" id="msgerror"></p>
		</div> 
	</div>
	<div class="form-row">

		<div class="form-group col-md-4" >   
			<label class="bmd-label-floating">Apellido</label>
			{{form.non_field_errors}}
            {{filter.form.persona__apellido1}} 
		</div> 
		<div class="form-group col-md-4" >   
			<label class="bmd-label-floating">Temperatura</label>
			<div class="dropdown bootstrap-select  dropup">
            {{form.non_field_errors}}
            {{filter.form.temperatura}}
        </div>
		</div>

		<div class="form-group col-md-4" >   
			<label class="bmd-label-floating label-control">Fecha</label>
			{{form.non_field_errors}}
			{{filter.form.fecha}}
		</div>

    </div>
<button type="submit" class="btn btn-danger">Buscar</button>

</div>

</form>
{% if filter.qs %}
<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-info">
                  <h2 class="card-title ">Resultado de Busqueda</h2>
  
                  

                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="">

                        <th><h4></h4></th>
                        <th>Fecha</th>
                        <th>Ingreso</th>
                        <th>Salida</th>
                        <th>Rut</th>
                        <th>Nombre</th>
                        <th>Temperatura</th>
                      </thead>

                      <tbody>
                        {% for control in filter.qs %} 
                        <tr>
                          <td>
                            <a href="#" class="list-group-item list-group-item-action"> {{control.id}} </a>
                          </td>
                          <td>
                            {{control.fecha|date:"d-m-Y"}}
                          </td>
                          <td>
                            {{control.fecha|date:"H:i:s"}}
                          </td>
                          <td>
                          	{% if salidas  %}
                          		{% for salida in salidas %}
                          			{% if salida.control.id == control.id %}	
                            			{{salida.fecha|date:"H:i:s"}}
                            		{% else %}
                            		Salida no registrada
                            		{% endif %}
                            	{% endfor %}                            
                            {% endif %}	
                          </td>
                          <td>
                            {{control.persona.rut}}
                          </td>
                          <td>
                            {{control.persona.nombre}} {{control.persona.apellido1}}
                          </td>
                          <td >
                           {{control.temperatura}}
                          </td>
                        </tr>
                        </tbody>
                    {% endfor%}    
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
{% else %}

<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-info">
                  <h4 class="card-title ">Resultado</h4>
                  <p class="card-category">de busqueda</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <h3>Busqueda sin resultados</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
{% endif %}

 </div>
</div>
</div>
</div>
</div>

 <script type="text/javascript">
            $(function () {
                $('.datetimepicker').datetimepicker({
                    locale: 'es',
                    icons: {
                            time: "fa fa-clock-o",
                            date: "fa fa-calendar",
                            up: "fa fa-chevron-up",
                            down: "fa fa-chevron-down",
                            previous: 'fa fa-chevron-left',
                            next: 'fa fa-chevron-right',
                            today: 'fa fa-screenshot',
                            clear: 'fa fa-trash',
                            close: 'fa fa-remove'
                          },
                    format:'YYYY-MM-DD',
                    
                });

               
              });
   </script>                                                     
{% endblock %}