{% extends "porteria/base.html"%}
{%block navbar%}

{%endblock%}


{%block content%}
<div class="card card-nav-tabs">
  <div class="card-header card-header-info">
  <h2 class="card-title">Registro de salida</h2>
  <p class="card-category">{{hoy}}</p>
  </div>  

  <div class="card-body">
    <form method="post">{% csrf_token %}

   <div class="form-row">
          <div class="form-group col-md-4">
            
          <label for="motivo" class="bmd-label-floating">Hora, fecha y persona</label>
          <div class="dropdown bootstrap-select dropup">  
              {{form.non_field_errors}}
              {{form.control}}
            </div>
          </div>
    </div>
  <button type="submit" class="btn btn-danger" id="registrar">Registrar Salida</button>
    </form>
  </div>
</div>

{% endblock %}